package $package;

import ${package}.${class};
import org.jboss.weld.environment.se.Weld;
import org.jboss.weld.environment.se.WeldContainer;
import org.eclipse.ice.tasks.IAction;
import org.eclipse.ice.tasks.IActionType;
import java.io.Serializable;
import jakarta.inject.Inject;
import jakarta.enterprise.context.Dependent;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${type};

/**
 * A generated implementation of IAction to run ${class}.${method}.
 */
@Dependent
public class ${class}Action implements IAction<${type}>, Serializable {

	/**
	 * Logger
	 */
	private static final Logger logger = LoggerFactory.getLogger(${class}Action.class);

	@Inject
	${class} actionImpl;

	/**
	 * Default nullary constructor.
	 */
	public ${class}Action() {}

	/**
	 * Copy constructor primarily used for testing. It chain-calls the nullary
	 * constructor for completeness.
	 */
	public ${class}Action(${class} otherImpl) {
		this();
		actionImpl = otherImpl;
	}

	@Override
	public IActionType getType() {
		return ${actionTypeValue};
	}

	@Override
	public boolean run(${type} data) {
		boolean retVal = false;
		
		try {
			retVal = actionImpl.${method}(data);
		} catch (Exception e) {
			String msg = "Execution of ${class}.${method} by failed.";
		    logger.error(msg, e);
		}
		
		return retVal;
	}
}
