package $package;

import ${package}.${class};
import org.jboss.weld.environment.se.Weld;
import org.jboss.weld.environment.se.WeldContainer;

/**
 * Command line application to run ${class} ${method}
 */
public final class ${class}App {

	/**
	 * Main method that launches the Weld (Java CDI) container and executes the
	 * application.
	 */
	public static void main(String[] args) {
		System.out.println("Executing app.");
		Weld weld = new Weld();
        WeldContainer container = weld.initialize();
        container.select(${class}.class).get().${method}();
        container.shutdown();
			
		return;
	}
}
