#if($package)
package $package;
#end

import org.eclipse.ice.data.IDataElementFactory;
import jakarta.enterprise.context.ApplicationScoped;
import jakarta.enterprise.inject.Produces;

#imports

/**
 * This is a factory for creating ${class} instances.
 */
@ApplicationScoped
public class ${class}Factory implements IDataElementFactory<${class}> {
	
	/**
	 * This function produces a default (i.e., nullary-constructed) instance
	 * of ${class}. 
	 */
	@Produces public ${class} build() throws Exception {
		return ${class}Implementation.builder().build();
	}

	/**
	 * This function returns the configurable builder that can be used to
	 * create customized instances of ${class}.
	 */	
	@Produces public ${class}Implementation.${class}ImplementationBuilder builder() {
		return ${class}Implementation.builder();
	}
}